<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        
        {# <link href="{{ asset("css/app.css") }}" rel="stylesheet"> #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
            
        {% endblock %}
    </head>
<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap py-2 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/">GetSchool</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="navbar-nav">
    <div class="nav-item text-nowrap d-flex">
    
      
      
      {% if app.user %}       
      <a class="nav-link px-3" href="#">Messages</a>
      <a class="nav-link px-3" href="#">Profil</a>
       <a class="nav-link px-3" href="{{ path('app_logout') }}">Déconnexion</a>
      {% else %}
      <a class="nav-link px-3" href="{{ path('app_login') }}">Connexion</a>
      <a class="nav-link px-3" href="{{ path('register') }}">Inscription</a>
      {% endif %}
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse text-white">
      <div class="position-sticky pt-3">
      <ul class="nav flex-column">
      {% if app.user %}
      
        {% if app.user.roles ==["ROLE_ETU"] %}
        
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Etudiant {{ app.user.nom ~' '~ app.user.prenom }}</span>
              </h6>
              <li class="nav-item ms-4">
                  <a class="nav-link text-white" aria-current="page" href="{{ path('consultation') }}">
              
                   Consultation des Notes
                  </a>
              </li>
        {% endif %}
        {% if app.user.roles ==["ROLE_PARENT"] %}  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Parent {{ app.user.nom ~' '~ app.user.prenom }}</span>
          </h6>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('consultation') }}">
             
              Consultation des Notes
            </a>
          </li>

        {% endif %}
        {% if app.user.roles ==["ROLE_PROF"] %} 
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Professeur {{ app.user.nom ~' '~ app.user.prenom }}</span>
        </h6>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('note_index') }}">
             
              Saisir les notes
            </a>
          </li>

          

          {% endif %}
          {% if app.user.roles ==["ROLE_GEST"] %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Gestionnaire {{ app.user.nom ~' '~ app.user.prenom }}</span>
        </h6>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('cycle_index') }}">
              
              Gestion des Cycles
            </a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('classe_index') }}">
              
              Gestion des Classes
            </a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('user_index') }}">
              
              Gestion des effectifs
            </a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('parente_index') }}">
              
              Gestion des Parents/Enfants
            </a>
          </li>

          {% endif %}
          {% if app.user.roles ==["ROLE_ADMIN"] %}
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Administrateur {{ app.user.nom ~' '~ app.user.prenom }}</span>
          </h6>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('user_new') }}">
              
              Creer un Gestionnaire
            </a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="{{ path('user_index') }}">
              
              Gestion des utilisateurs
            </a>
          </li>
          {% endif %}
          {% endif %}
          </ul>
      </div>
    </nav>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        {% for notification in app.flashes('success') %}
        <div class="alert alert-success col-md-6 mx-auto text-center"> {{ notification }} </div>
        {% endfor %}
        {% block body %}{% endblock %}
        </main>
    </div>
    </div>
    <div class="container-fluid bg-dark">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-md-4 d-flex align-items-center">
      
      <span class=" text-white">&copy; 2022 GetSchool</span>
    </div>

  </footer>
</div>
</body>
</html>