{% extends 'base.html.twig' %}

{% block title %}Inscritpion{% endblock %}
{% block body %}
<h1 class="text-center my-5">Inscription</h1>
<div class="container col-8 my-5">
    {{ form_start(form) }} 
        {{form_row(form.nom)}}
        {{form_row(form.prenom)}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}
        {{form_row(form.coordonnees)}}
        {{ form_rest(form)}}
    {{ form_end(form) }} 
    </div>
{% endblock %}